html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,p {
    font-family: 'Lemon', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
}

b {
    font-weight: 700;
}

#landing-page {
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url("assets/background.jpg");
}

.welcome-text {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 45%;
    text-align: center;
    color: white;
    transform: scale(.8);
}

ul.nav {
    position: sticky;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    z-index: 999999;
}

.nav > li {
    display: inline-block;
    margin: auto;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.nav > li > a {
    font-family: 'Lemon', serif;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 1em 2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav > li > a:hover {
    background-color: rgb(75, 78, 78);
    transform: scale(1.05);
}

hr {
    max-width: 300px;
    margin: 0 auto;
}


.section-introduction, .section-education, .section-working {
    text-align: center;
}

.section-education, .section-working {
    display: inline-block;
    margin-top: 5em;
}

.img-icon {
    max-width: 12em;
}

#about-me {
    padding: 2em 0;
}

.content-perkenalan {
    font-size: 1.1em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

.title-portofolio, .title-contact-us {
    text-decoration: underline;
    text-align: center;
    font-size: 1.8em;
}

.desktop { 
    display: none !important;
}

#portofolio {
    width: 100%;
    padding: 2em 0;
}

.container {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.img-portfolio {
    max-width: 300px;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 2em;
    transition: 0.5s;
    cursor: pointer;
}
.img-portfolio:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-contact-us, .contact-info {
    width: 100%;
    text-align: center;
}

.inputan {
    width: 85%;
    text-align: left;
    display: block;
    margin: 0 auto;
}

.inputan > label {
    display: block;
    font-size: 1.1em;
}

.inputan > input, .inputan > textarea {
    width: 100%;
    margin: .5em 0;
    font-size: 0.9em;
    font-family: 'Lemon', serif;
    font-family: 'Pixelify Sans', sans-serif;
}

.btn-kirim {
    font-family: 'Lemon', serif;
    font-family: 'Pixelify Sans', sans-serif;
    width: 85%;
    margin: 1em 0;
    border: none;
    background-color: rgb(75, 78, 78);
    border-radius: 10px;
    color: white;
    font-size: 1em;
    padding: .5em 0;
    transition: 1s;
}

.btn-kirim:hover {
    background-color: rgb(97, 97, 97);
    transition-duration: 0.5s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: scale(1.05);
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 2em;
    padding: 1.5em 0;
    color: white;
    background-color: black;
}

.contact-icon {
    width: 50px;
    margin: 2em;
}

.contact-desktop {
    display: none;
}

.contact-icon-bundler {
    display: block;
}

.contact-info > div {
    display: inline-block;
}

iframe {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .non-desktop {
        display: none;
    }
    .desktop {
        display: block !important;
    }
    li.nav-icon {
        padding: 0;
        width: 45px;
        margin: .3em 1em;
        float: left;
    }

    .nav-icon > img {
        width: 100%;
    }

    ul.nav {
        text-align: right;
    }

    .section-working, .section-education {
        width: 49.5%;
        vertical-align: top;
    }

    hr {
        max-width: 500px;
        margin: 0 auto;
    }
    .form-contact-us, .contact-info {
        width: 49.5%;
        display: inline-block;
        vertical-align: top;
    }
    #contact-us {
        vertical-align: top;
        font-family: 'Lemon', serif;
        font-family: 'Pixelify Sans', sans-serif;
    }

    .contact-desktop {
        display: inline-block;
        vertical-align: middle;
    }

    .contact-icon-bundler {
        display: inline-block;
        min-width: 300px;
        text-decoration: none;
        color: black;
        transition: 1s;
    }
    .contact-icon-bundler:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .contact-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .contact-info > div {
        display: block;
    }
}
    
 /* ====================== Social Media Logo Footer ==============================  */

.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 2px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: #0e76a8;
    color: #ffffff;
  }